@charset "UTF-8";


.search_wrap {
	color: #333333;
	height: 40px;
	line-height: 40px;
	background-color: #F4F4F4;
	background-color: #f1f1f1;
	background-image: -moz-linear-gradient(top, #f4f4f4, #ececec);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
	background-image: -webkit-linear-gradient(top, #f4f4f4, #ececec);
	background-image: -o-linear-gradient(top, #f4f4f4, #ececec);
	background-image: linear-gradient(to bottom, #f4f4f4, #ececec);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff4f4f4', endColorstr='#ffececec', GradientType=0);
	border: 1px solid #d5d5d5;
	border-radius: 10px;
	margin-top: auto;
	margin-bottom: auto;
	padding: 10px;
	font-family: 'NanumSquare';
	overflow: hidden;
	margin: 0 0 20px;
}

.search_wrap .inner_tit {
	float: left;
	line-height: 40px;
	font-weight: bold;
	font-size: 14px;
}

.search_wrap .inner_tit a {
	font-size: 14px;
}

.search_wrap .local_sch {
	float: right;
}

.search_wrap .local_sch select {
	height: 38px;
	padding: 8px 5px;
	box-sizing: border-box;
	background-color: #fff;
}

.search_wrap .local_sch input[type=text] {
	background: #fff;
}

.tbl_wrap {
	width: 100%;
	background: #fff;
}

.tbl_wrap table {
	width: 100%;
	border: 1px solid #ddd;
}

.tbl_wrap table thead tr:first-child th {
	border-top: 1px solid #ddd;
}

.tbl_wrap table tbody .bg0 {
	background-color: #ffffff;
}

.tbl_wrap table tbody .bg1 {
	background-color: #edf7f8;
}

.tbl_wrap table th {
	background: #daeff1;
	border: 1px solid #fff;
	font-size: 14px;
	padding: 5px 0;
	border-right: none;
	border-bottom: none;
	font-family: 'NanumSquare';
	font-weight: bold;
}

.tbl_wrap table th:first-child {
	border-left: none;
}
.tbl_wrap table td {
	border: 1px solid #ddd;
	font-size: 14px;
	padding: 5px 3px;
}

.tbl_wrap table td a {
	font-size: 14px;
}

.tbl_wrap .td_chk,
.tbl_wrap .td_num,
.tbl_wrap .td_name,
.tbl_wrap .td_mbname,
.tbl_wrap .td_mbcert,
.tbl_wrap .td_tel,
.tbl_wrap .td_mbstat,
.tbl_wrap .td_date,
.tbl_wrap .td_numsmall,
.tbl_wrap .td_mngsmall,
.tbl_wrap .td_datetime,
.tbl_wrap .td_test,
.tbl_wrap .td_send,
.tbl_wrap .td_id,
.tbl_wrap .td_grid,
.tbl_wrap .td_mng {
	text-align: center;
}

.tbl_wrap .empty_table {
	text-align: center;
	padding: 15px 0;
}


.sv_use {
	/*position: relative;*/
}

.sv_wrap {
	position: relative;
}

.sv_wrap .sv {
	position: absolute;
	width: 94px;
	background: #111111;
	z-index: 500;
	border: 1px solid #383838;
	display: none;
}

.sv_wrap .sv_on {
	display: block;
	top: 10px;
	left: 20px;
}

.sv_wrap .sv a {
	display: block;
	color: #fff;
	font-size: 12px;
	padding: 3px;
	border-bottom: 1px solid #383838;
}

.sv_wrap .sv a:hover {
	background: #666;
}

.local_desc {
	background-color: #d9edf7;
	border-color: #bce8f1;
	color: #00afd1;
	padding: 10px 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	display: inline-block;
}

.local_desc p {
	font-size: 0.9rem;
}